.top-bar h1 {
  color: #eee;
  font-size: 24px;
  margin-left: 12px;
}

#location-list .location-view {
  border-top: 1px solid #ddd;
  padding: 1em 0;
}

#location-list .location-view:first-child {
  border-top: 0;
}

#map-view {
  height: 600px;
}

/* override some foundation styles */
#location-list form {
  margin-bottom: 0;
}

.alert .button {
  margin-bottom: 0;
}

.hide {
  display: none;
}
